<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="SqlServer" connectionString="Server=localhost;Database=ABT_Master;Uid=root;Pwd=root;AllowLoadLocalInfile=true;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="LogPath" value=""/>
		<!--log-->
		<add key="LogMode" value="0"/>
		<add key="LogPath" value=""/>
		<add key="LogKeptDuration" value="30"/>
		<add key="mysqlUploadsPath" value="C:\ProgramData\MySQL\MySQL Server 9.4\Uploads\"/>
	</appSettings>
	<system.diagnostics>
		<switches>
			<add name="SwcTraceLevel" value="3"/>
		</switches>
	</system.diagnostics>
</configuration>